
<div class="container text-center">
    <h1>Sobre nosotros</h1>
        <p> Somos DevMatch. Nuestra compañia se enfoca en crear una comunidad exclusiva
        para que desarrolladores e inversionistas puedan conocerse
        </p>
</div>