<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <link href="//fonts.googleapis.com/css?family=Slabo+27px&amp;subset=latin-ext" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %> 

<!-- 
This yield pulls in the code from the home.html.erb
-->

</body>
</html>
